@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--BG);
}
:root {
  --Primary: #11664F;
  --Secondary: #B7ED3F;
  --SecondaryDarker: #a9db3b;
  --White: #f9f9f9;
  --Black: #000000;
  --BG: #eff2fb;
  --PDarker: #125240;
  --SDarker: #f14900;
  --WDarker: #f3f3f3;
  --Gray: #d9e0f3;
  --P100: var(--Primary) mix-blend-mode: multiply;
}

.G1 {
  background: linear-gradient(
    206deg,
    #ff61c4 2.09%,
    #ff776b 50.58%,
    #ff8810 99.06%
  );
}

.G2 {
  background: linear-gradient(204deg, #9a55fe 1.37%, #e25ffb 99.55%);
}

.G3 {
  background: linear-gradient(
    204deg,
    #25e0e2 -0.74%,
    #2cd1e7 49.06%,
    #2ccaea 98.86%
  );
}

.G4 {
  background: linear-gradient(204deg, #29d1ce -0.29%, #00db97 97.37%);
}

.G5 {
  background: linear-gradient(205deg, #ffaf24 0.74%, #ffdb1b 98.93%);
}
.G6 {
  background: linear-gradient(204deg, #ff5987 3.13%, #ff929d 98.48%);
}
.G7 {
  background: linear-gradient(203deg, #9498ff 1.31%, #945aff 98.27%);
}
.G8 {
  background: linear-gradient(
    204deg,
    #ff4ca4 6.45%,
    #ff85c0 71.16%,
    #ff9dcd 96.33%
  );
}
