.cardTypographyHeader {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 700;
}

.cardTypographyTime {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
}

.cardTypographyDate {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 500;
}

.cardTypographyDisc {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17px;
  font-weight: 300;
}
