.logo {
  width: 120px;
  /* margin: 0 10px;
  margin-top: 10px; */
  /* margin-bottom: 80px; */
}

.sidebar {
  width: 15vw;
  min-width: max-content;
  background-color: var(--White);
  padding: 20px;
  border-radius: 10px;
  font-weight: 500;
  color: #35383f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
.navLink {
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: 100%;
  padding: 10px;
}
.navLink:hover {
  background-color: #f3f3f3;
  border-radius: 10px;
}
.collapsed {
  width: 3vw;
  /* overflow: hidden; */
  border-radius: 10px;
  padding: 20px;
  background-color: var(--White);
  position: relative;
  height: 100%;
}

.username {
  color: #35383f;
  font-family: Poppins;
  font-size: 13.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.userID {
  color: #35383f;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.custom_button {
  width: 100%;
  margin: 0 auto;
}

.custom_button img {
  filter: hue-rotate(0deg);
  transition: filter 0.3s ease;
}

.toggle_button {
  position: absolute;
  right: -10px;
  top: 40px;
}

.AIButton {
  fill: var(--Primary);
}
.AIButton:hover {
  fill: #1919dd;
}

@media (max-width: 1199px) {
  .hideOnSmallScreens {
    display: none;
  }
}
